{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

 <!-- footer -->
 <footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col mb-1">
        <p class="text-center joinwithus text-muted mt-4">*-- Join With Me  --*</p>
        <div class="footericons text-center">
          <a href="#"><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-facebook  facebook"></i></a>
        <a href=""><i class="fab fa-instagram  insta"></i></a>
        <a href=""><i class="fab fa-linkedin facebook"></i></a>
        </div>
        <p class="text-center mt-4">&copy; Copyright <b>Shubham</b>. All Right Reserved</p>
        <p class="text-center">Designed by <span class="text-info">Shubham.</span></p>
      </div>
    </div>
  </div>
</footer>