{% extends 'myportfolio/base.html' %}
{% block title %}interest{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/interest_style.css' %}">

<div class="container">
<div class="row">
<div class="col">
<div class="cssanimation fadeinbottom">
 <h2 class=" intereheading"><span class="border_bottm">Interested in Technology</span></h2>
 <p class="text-center text-secondary mt-4 mb-4 interepara">Growing up during the age of rapid technological progress, the reason for my interest in technology and engineering is quite evident.<span class="d-none d-sm-block"> For as long as I can remember, I have been fascinated with the Software and Development Application. </span></p>
 <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <div class="htmlradius mx-auto d-block"><img style="height:50px; width:50px; margin-top:25%;" src="https://cdn.freebiesupply.com/logos/large/2x/bootstrap-icon-logo-black-and-white.png" class="" alt=""></div> </div>
                    <h4>Bootstrap</h4>
                    <p>The world’s most popular front-end open source Framework.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services speedup">
                    <div class="icon"> <div class="cssradius mx-auto d-block "><i class="fab fa-css3 interecticons"></i></div> </div>
                    <h4>CSS</h4>
                    <p>CSS is a style sheet language used for giving styles for HTML.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services privacy">
                    <div class="icon"> <div class="jsradius mx-auto d-block "><i class="fab fa-js-square interecticons"></i></div> </div>
                    <h4>Javascript</h4>
                    <p>JavaScript is the world's most popular programming language. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services backups">
                    <div class="icon">  <div class="databaseradius mx-auto d-block"><i class="fas fa-database interecticons"></i></div> </div>
                    <h4>database</h4>
                    <p>database is an organized collection of data . </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <div class="icon">  <div class="pythonradius mx-auto d-block"><i class="fab fa-python interecticons"></i></div> </div>
                    <h4>Python</h4>
                    <p>Python is a high-level programming language.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon">  <div class="cradius mx-auto d-block"><i class="fab fa-github interecticons"></i></div> </div>
                    <h4>Github</h4>
                    <p>It is hosting for software development and version control using Git.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class=" intereheading mt-5 "><span class="border_bottm">Others</span></h2>
 <p class="text-center text-secondary mt-4 mb-4 interepara">These are the things where I spend mine mostly of the time after the work. I love to play cricket and other outdoor games like footbol, hockey.  <span class="d-none d-sm-block">and When i am free that i go somewhere to explore new things.</span></p>

 <div class="row ">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services books">
                    <div class="icon"> <div class="bookradius mx-auto d-block"><i class="fas fa-book-reader interecticons"></i></div> </div>
                    <h4>Reading Books</h4>
                    <p>Increases your ability to empathize by reading book. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services travel">
                    <div class="icon"> <div class="travelradius mx-auto d-block"><i class="fas fa-fighter-jet interecticons"></i></div> </div>
                    <h4>Travelling</h4>
                    <p>You can learn a lot about yourself through travelling.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services cricket">
                    <div class="icon"> <div class="crickradius mx-auto d-block "><img style="height:50px; width:50px; margin-top:25%;" src="{% static 'images/cricket.png'%}" class="" alt=""></div> </div>
                    <h4>Cricket</h4>
                    <p>Cricket is a good sport for developing overall fitness and stamina. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowbottom">
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services footbol">
                    <div class="icon">  <div class="footbolradius mx-auto d-block"><i class="fas fa-futbol interecticons"></i></div> </div>
                    <h4>Footboll</h4>
                    <p>Football teaches cooperation and team work. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services music">
                    <div class="icon">  <div class="musicradius mx-auto d-block"><i class="fas fa-music interecticons"></i></div> </div>
                    <h4>Music</h4>
                    <p>Music can raise someone's mood, get them excited.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-none d-sm-block">
                <div class="our-services running">
                    <div class="icon">  <div class="runningradius mx-auto d-block"><i class="fas fa-running interecticons"></i></div> </div>
                    <h4>Running</h4>
                    <p>Running is a great way to help improve cardiovascular health.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% include 'myportfolio/footer.html' %}

{% endblock content %}
{% block js %}

{% endblock js %}